docs/plugin_api/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

    <element name="equinoxInput" type="string">
    	<annotation>
    		<documentation>Root input element. This element is obligatory, but all its children are optional.</documentation>
    	</annotation></element>


    <element name="settings" type="string"></element>


    <element name="runMode" type="string"></element>
</schema>